body{
background-image: url(backdrop.jpg);
}
.card{
border-color: black;
border-radius: 1%;
background-color: grey;
opacity: 0.9;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.clock{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
}
.result-color{
    display:flex;
    justify-content: center;
    align-items: center;
    color:purple;
    font-size: large;
    font-weight: bold;
}
.ticker-color{
    display:flex;
    justify-content: center;
    align-items: center;
    color:greenyellow;
    font-size: large;
    margin-top: 1vw;
}
.main-container{
    padding-top: 2vw;
}
.display{
    text-align: center;
}
hr{
    margin: 0vw;
}
img{
    float:right;
    margin-right: 5vw;
}
.title{
    color: rgb(255, 81, 0);
    font-size: large;
    font-style: italic;

}