body{
background-color:black;

}

.card{
border-color: black;
border-radius: 1%;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.clock{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
}